



@media screen and (max-width:1113px) {
    .cards{
        display: none;
    }
}
@media screen and  (max-width:1077px) {
    .collection {
        display: none;
    }
    .menu_1330{
        display: block;
        display: flex;
        position: relative;
        left: 450px;
    }
}
@media screen and (max-width:1034px) {
    
    .menu_right{
        display: none;
    }
    .menu_left {
     width: 100%;
     height: auto;
 }
 .cards {
     width: 25%;
     height: 100%;
     display: none;
 }
 }
@media screen and  (max-width:933px) {
    
    .menu_1330{
        display: block;
        display: flex;
        position: relative;
        left: 380px;
    }
}
@media screen and  (max-width:825px) {
    
    .menu_1330{
        display: block;
        display: flex;
        position: relative;
        left: 330px;
    }
    .nav_logo img {
        padding-top: 20px;
        padding-left: 20px;
        width: 200px;
        height:80px;
    }
}

@media screen and  (max-width:717px) {
    
    .menu_1330{
        display: block;
        display: flex;
        position: relative;
        left: 220px;
    }
}

@media screen and  (max-width:528px) {
    
    .menu_1330{
        display: block;
        display: flex;
        position: relative;
        left: 140px;
    }
    .menu_right1{
        display: block;
        position: relative;
        top: -20px;
    }
    .container{
        display: block;
    }
}

@media screen and  (max-width:404px) {
    
    .menu_1330{
        display: block;
        display: flex;
        position: relative;
        left: 90px;
    }
    .nav_logo img {
        padding-top: 25px;
        width: 130px;
        height:80px;
    }
}